<div class="row m-4">
  
  <div class="col-6">
    <form class="userform" #userForm="ngForm" (ngSubmit)="onSubmitUserForm()">
      <h2>userForm</h2>
      <button (click)="addInfoUser()" class="btn btn-danger">AddInfo</button>
      <div class="form-group mt-2">
        <label class="form-label" for="userName">userName</label>
        <input class="form-control" #userN="ngModel" type="text" placeholder="userName"  required [(ngModel)]="userName" name="userName" id="userName">
        <span *ngIf="userN.touched && userN.invalid" class="text-danger">enter correct username</span>
      </div>
      <div class="form-group mt-2">
        <label class="form-label" for="password">password</label>
        <input class="form-control" #pwd="ngModel" type="password" placeholder="password" required [(ngModel)]="password" name="password" id="password">
        <span class="text-danger" *ngIf="pwd.touched && pwd.invalid">Enter correct password</span>
      </div>
      <div class="form-group mt-4">
       <button class="btn btn-primary w-50" [disabled]="!userForm.valid">submit</button>
       <button class="btn btn-danger w-50" (click)="resetForm()">Reset</button>

      </div>
      <div>
        <button (click)="submitedForm()">getData</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="User" class="mt-4">
 <p>UserName::{{userName}}</p>
 <p>password::{{password}}</p>
</div>
